<div class="container">

  <h1>Create a new Restaurant</h1>
  <%= render 'form', restaurant: @restaurant %>
  <br>
  <p><%= link_to "Back to Restaurants", restaurants_path, class: "link" %></p>

</div>
